@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 220 40% 40%;
        --card: 0 0% 100%;
        --card-foreground: 220 40% 40%;
        --popover: 226 100% 97%;
        --popover-foreground: 245 50% 50%;
        --primary: 243 74.77% 58.04%;
        --primary-foreground: 0 0% 100%;
        --secondary: 244 29.41% 90%;
        --secondary-foreground: 0 0% 0%;
        --muted: 241.54 95.12% 91.96%;
        --muted-foreground: 245 50% 50%;
        --accent: 220 40% 100%;
        --accent-foreground: 245 50% 50%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 0 0% 100%;
        --border: 220 13% 90%;
        --input: 220 13% 90%;
        --ring: 243 74.77% 58.04%;
        --radius: 0.5rem;
        --gradient-hori: linear-gradient(90deg, #4f46e5 0%, #312e81 100%);
        --gradient-vert: linear-gradient(180deg, #4f46e5 0%, #312e81 100%);
    }
    .dark {
        --background: 244.5 50% 10%;
        --foreground: 244.5 5% 100%;
        --card: 244.5 50% 10%;
        --card-foreground: 244.5 5% 100%;
        --popover: 244.5 30% 40%;
        --popover-foreground: 244.5 5% 100%;
        --primary: 244.5 57.9% 50.6%;
        --primary-foreground: 0 0% 100%;
        --secondary: 244.5 30% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 206.5 30% 25%;
        --muted-foreground: 244.5 5% 98%;
        --accent: 244.5 30% 60%;
        --accent-foreground: 244.5 90% 95%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 244.5 5% 100%;
        --border: 244.5 30% 50%;
        --input: 244.5 30% 30%;
        --ring: 244.5 57.9% 50.6%;
        --radius: 0.5rem;
        --gradient-hori: linear-gradient(90deg, #4f46e5 0%, #312e81 100%);
        --gradient-vert: linear-gradient(180deg, #4f46e5 0%, #312e81 100%);
    }

    .bg-gradient-hori {
        background-image: var(--gradient-hori);
    }

    .bg-gradient-ver {
        background-image: var(--gradient-vert);
    }
    .border-gradient-hori {
        border-image: var(--gradient-hori);
    }
    .border-gradient-ver {
        border-image: var(--gradient-vert);
    }
    .dark-border {
        border-color: var(--input) !important;
    }
}

@layer base {
    * {
        /* @apply border-border; */
    }
    body {
        @apply bg-background text-foreground;
    }
}

/* @layer components {
} */
